.offline{color:#B71C1C}
.checkBoxRed{color:#B71C1C}

.online{color:#1B5E20}
.checkBoxGreen{color:#1B5E20}

.school{color:#F57F17}
body{

}
ul{
    list-style: none;
}
#logInDiv{
    text-align: right;
}
#logInDiv p{
    font-size: 15px;
}
#TimeHeaderId{

}
#TimeHeaderId p{
    font-size: 20px;
    color: #212121;
}
#schoolList{

}
#schoolList p{
    color:#212121;
}
#innerSchoolList ul{
    margin: 0;
    padding: 0;
}
#innerSchoolList ul p{
    font-size: 20px;
}
#innerSchoolList li{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
#chatWrapper{

}
#chatDiv{

}
#chatForm input{

}
#chatform button{
}
.form-group{
    width: 80%;
}
.commentBy{
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 3px;
}
#formWrapper{
    width: 100%;
}
.chatBubble{
    max-height: 285px;
    max-width: 512px;
    margin-bottom: 5px;
}
.demo-card-wide.mdl-card {
  width: 512px;
  min-height: 0;
  overflow-y: auto;
}
#chatTitle{
    font-size:20px;
    text-align: center;
}
.mdl-card{
    min-height: 100px;
    background-color: #FFCA28;
}
.timeClass{
    margin-left: 5px;
}
.mdl-card__supporting-text{
    color:rgba(0, 0, 0, 0.80);
}
#p2{
    float: right;
    width:100px;
    float: right;
    width: 100px;
    margin-top: 14px;
    margin-right: 15px;
}
#loginToSeMessagesMsg{
    height: 50px;
    margin-top: 7%;
    margin-left: 13%;
}
