.offline{color:#B71C1C}
.checkBoxRed{color:#B71C1C}

.online{color:#1B5E20}
.checkBoxGreen{color:#1B5E20}

.school{color:#F57F17}
body{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}
ul{
    list-style: none;
}
#logInDiv{

}
#logInDiv p{
    font-size: 15px;
}
#TimeHeaderId{
    text-align: right;
}
#TimeHeaderId p{
    font-size: 20px;
    color: #212121;
}
#schoolList{

}
#schoolList p{
    color:#212121;
}
#innerSchoolList ul{
    margin: 0;
    padding: 0;
}
#innerSchoolList ul p{
    font-size: 20px;
}
#innerSchoolList li{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
#chatWrapper{

}
#chatDiv{

}
#chatForm input{
    width: 100%;
    border:none;
}
#chatform button{
    width: 20%;
}
.form-group{
    width: 80%;
}
.commentBy{
    font-size: 8px;
    position: absolute;
    bottom: 0;
    right: 0
}
#formWrapper{
    width: 100%;
}
.chatBubble{
    max-height: 285px;
    overflow: auto;
    border: 1px solid black;
    margin-bottom: 5px;
    position: relative;
}
