.offline{color:#B71C1C}
.checkBoxRed{color:#B71C1C}

.online{color:#1B5E20}
.checkBoxGreen{color:#1B5E20}

.school{color:#F57F17}
body{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}
ul{
    list-style: none;
}
#logInDiv{
    float:left;
}
#logInDiv p{
    font-size: 15px;
    margin-top: 0;
}
#TimeHeaderId{
    width: 100%;
    text-align: right;
}
#TimeHeaderId p{
    display: inline-block;
    margin:10px;
    font-size: 20px;
    color: #212121;
    margin-top: 0;
}
#schoolList{
    display: inline-block;
    max-width: 49%;
}
#schoolList p{
    color:#212121;
}
#innerSchoolList ul{
    margin: 0;
    padding: 0;
}
#innerSchoolList ul p{
    font-size: 20px;

}
#innerSchoolList ul{

}
#chatWrapper{
    float:right;
    max-width: 50%;
}
#chatDiv{
    font-size: 20px;
}
